<div class="flex flex-col md:flex-row items-center md:items-start bg-white/5 p-6 border border-white/10 rounded-2xl shadow-lg w-full my-8 gap-x-6">
    
    <img 
        class="object-cover w-64 h-64 md:w-56 md:h-56 rounded-full border-4 border-white/20 mb-6 md:mb-0 shrink-0" 
        src="https://media.licdn.com/dms/image/v2/D4D03AQEcxXtgXGWBUw/profile-displayphoto-shrink_200_200/B4DZTcxh0xG8Ac-/0/1738870759159?e=2147483647&v=beta&t=2xE0kT2T8trInD47agZ5Dasdp8nRXiyBNJwuLluHeJI" 
        alt="Foto de Tomás"
    >

    <div class="flex flex-col justify-between w-full">
        <h5 class="mb-4 text-2xl font-bold tracking-tight text-white">
            Te cuento un poco de mí
        </h5>
        
        <div class="text-gray-200 text-pretty space-y-4 mb-6">
            <p>
                Soy un estudiante a solo dos materias de terminar la Tecnicatura en la UNLaM. Encontré en la tecnología lo que verdaderamente me divierte: <strong>crear soluciones a los problemas de la vida cotidiana.</strong>
            </p>
            <p>
                Siempre me gustó optimizar mi tiempo al máximo, y la automatización que ofrece la programación es algo que realmente me atrapa. Siento que mi camino está acá. Por mis anteriores trabajos, tengo facilidad para trabajar en equipo, hablar con clientes y entender la venta de productos, algo que combinado con la programación busca crear soluciones útiles.
            </p>
            <p>
                Actualmente encontré el stack que mejor se ajusta a mis gustos: un backend con <span class="text-yellow-200/90 font-semibold">Node.js</span> utilizando Prisma y bases de datos SQL. En el frontend, aunque manejo React, elijo <span class="text-yellow-200/90 font-semibold">Angular</span> porque es donde tengo mayor experiencia.
            </p>
        </div>

        <nav class="flex gap-4 flex-wrap">
            
            <a 
                href="https://www.linkedin.com/in/tomas-attino-b07839280"
                target="_blank"
                rel="noopener noreferrer"
                class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5 hover:bg-white/10 hover:scale-110 transition text-white text-sm md:text-base"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 md:size-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                   <path d="M8 11l0 5"></path>
                   <path d="M8 8l0 .01"></path>
                   <path d="M12 16l0 -5"></path>
                   <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                </svg>
                LinkedIn
            </a>

            <a 
                href="https://github.com/TomasAttino"
                target="_blank"
                rel="noopener noreferrer"
                class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5 hover:bg-white/10 hover:scale-110 transition text-white text-sm md:text-base"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 md:size-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
                </svg>
                GitHub
            </a>

            <a 
                href="tomasattino@gmail.com"
                class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5 hover:bg-white/10 hover:scale-110 transition text-white text-sm md:text-base"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 md:size-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                   <path d="M3 7l9 6l9 -6"></path>
                </svg>
                Descargar CV
            </a>

        </nav>
    </div>
</div>