---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const title = 'Porfolio de Tomas Attino Castro, desarrollador web';
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div><div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	:root{
		color-scheme: light dark;
		background-color: black;
		color: white;
		
	}
	html{
  font-family: 'Manrope Variable', sans-serif;
	},
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		
	}
</style>
